@model DocumentDBWebApp.Models.HomeIndexViewModel

    @{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>@(Model.Chart[0])</p>
   
</div>
<div class="jumbotron">
    <p>@(Model.Chart[1])</p>
</div>
<div class="jumbotron">
    <p>@(Model.Chart[2])</p>
</div>
<div class="jumbotron">
    <p>@(Model.Chart[3])</p>
</div>
